body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.js-app {
  width: 100vw;
  height: 100vh;
}

canvas#plot {
  display: block;
  width: 100vw;
  height: 100vh;
  cursor: crosshair;
}
